/* CSS declarations go here */
@import '{}/node_modules/bootstrap/scss/bootstrap.scss';

@import '{}/node_modules/gridlex/src/gridlex-vars.scss';
@import '{}/node_modules/gridlex/src/gridlex.scss';
@import '{}/imports/projects/project.scss'

div[class^="container"] {
  padding:0;
}

.pointer {
  cursor:pointer;
  color:$gray-light;
  &:hover {
    color:darken($gray, 2);
  }
}

html,
body,
#react-root,
#container-window,
#container-body {
  height:100%;
  flex-direction:column;
}
#container-window {
  overflow:hidden;
}
#container-body {
  display:flex;
  >header {
  }
  >main {
    display:flex;
    flex-direction:column;
    overflow-y:auto;
    position:relative;
    height:100%;
    >div.row, > div {
      height:100%;
    }
  }
}
#container-content {
  overflow-y:auto;
  position:relative;
  height:100%;
  display:flex;
  flex-direction:column;
}


.main-full-width {
  overflow-y:hidden;
  >div.row {
    height:100%;
    overflow-y: auto;
  }
  &.bg-light {
    > div.row {
      background:#fafafa;
    }
  }
}







nav.navbar {
  border-bottom:1px solid #d2d2d2;
}
nav.navbar.secondary {
    padding-bottom: 0;
    padding-top: 0;
    font-size:0.9rem;
}
.options-column {
  flex:0,0,auto!important;
}
.options-container {
  // border:1px solid black;
  // display:flex;
  // flex-direction:row;
  height:100%;
}

.popover-inner {
}
.popover {
  max-width:inherit!important;
}
.nav-icon {
  width:50px;
  height:50px;
  background:gray;
  margin:0 auto;
}

[class^="Panel"] {
  flex:0 1 auto;
  flex-direction:column;
  height:100%;
  border-right:1px solid $list-group-border-color;
  position:relative;
  overflow-y:auto;
  background:#fafafa;
  font-size:0.9rem;
  padding-bottom:0;

  &[class*="right"] {
    border-right:0;
    border-left:1px solid $list-group-border-color;
  }

  .sidebar-header {
    // padding:9px 0;
  }

  &.SideNav {
    width:240px;
  }

  &.offCanvas {
    position:absolute!important;
    top:0;
    right:0;
    display:flex;
    flex-direction:column;
    z-index:999;
    >header {}
    >main {
      height:100%;
      overflow-y:auto;
    }
  }

}


.SideNav, .SidePanel, .offCanvas {
  // flex:0 1 auto;
  // width:240px;
  // border-right:1px solid $list-group-border-color;
  // position:relative;
  // overflow-y:auto;
  // background:#f1f1f1;
  // font-size:0.9rem;
  // .sidebar-header {
  //   padding:9px 0;
  // }
  nav.navbar.full-nav {
    padding:0;
      >ul.navbar-nav {
        >div {
          >li.nav-item {
            padding:$navbar-padding-y $navbar-padding-x;
          }
          >nav.navbar {
            padding:0 $navbar-padding-x $navbar-padding-y $navbar-padding-x*2;
          }
        }
      }
    // border:1px solid black;
  }

}

.SidePanel {
  &.floating {
    background:transparent;
    border:0;
    padding:20px 0;
    >div {
      border:1px solid $list-group-border-color;
      margin:0 0px 0 20px;
      overflow-y:auto;
      background:#fff;
    }
  }

  &.col-4 {
    width:380px;
    min-width:380px;
  }
}



.PageHeader {
  border-bottom:1px solid $list-group-border-color;
  // height:280px;
}



// .list-group-item-action {
//   width: 100%; // For `<button>`s (anchors become 100% by default though)
//   color: $list-group-link-color;
//   text-align: inherit; // For `<button>`s (anchors inherit)
//
//   .list-group-item-heading {
//     color: $list-group-link-heading-color;
//   }
//
//   // Hover state
//   @include hover-focus {
//     color: $list-group-link-hover-color;
//     text-decoration: none;
//     background-color: $list-group-hover-bg;
//   }
//
//   &:active {
//     color: $list-group-link-active-color;
//     background-color: $list-group-link-active-bg;
//   }
// }
